<!DOCTYPE html>

<head>
  {% include head.html %}
</head>

<body>
  <section id="page">
    <table id="page_table">
    <tr class="top">
      <td class="left">
	<div class="top left fit_table">
	  <a href="/"><image id="logo" class="top" src="{{ site.url }}{{ site.logo }}"/></a>
	  </div>
      </td>
      <td class="right">
	<div class="top right fit_table">
	  <div class="mobile_only">
	    <div class="icons">

	      <a href="https://www.facebook.com/huertherbrueckederkulturen" target="_blank"><img alt="Facebook" src="{{ site.url }}assets/images/FB-f-Logo__blue_50.png" class="icon" ></a>

	      <a href="/" ><img id="logo" class="top icon" src="{{ site.url }}{{ site.logo }}"/></a>

	      <a href="{{ site.url }}kontak.html"><img alt="Kontakt" src="{{ site.url }}assets/images/mail.png" class="icon" ></a>
	    </div>
	    
	    {% include nav.html %}
	  </div>
	  
	  <div class="box_blue top wide_screen_only">
	    
	    <img  src="{{ site.url }}{{ site.tagline }}" usemap="#tagmap" id="tagline"/>
	    <div class="line"></div>
	    
	    <map name="tagmap">
	      <area shape="rect" coords="550,0,675,170" href="{{ site.url }}danke.html" alt="Danke">
	    </map>
	    {% include nav.html %}
	  </div>
	</div>
      </td>
    </tr>
    <tr id="main">
      <td class="left">
	<div class="left fit_table">
	  <div class="box_blue_light">
	    <div id="facebook_icon_wide_screen">
	      <a href="https://www.facebook.com/huertherbrueckederkulturen" target="_blank"><img alt="Facebook" src="{{ site.url }}assets/images/FB-f-Logo__blue_50.png" class="icon" ></a>
	    </div>
	    <div id="mail_icon_wide_screen">
	      <a href="{{ site.url }}kontakt.html"><img alt="Kontakt" src="{{ site.url }}assets/images/mail.png" class="icon" ></a>
	    </div>

	    <div id="calendar">
	      <h2>Termine</h2>

	      
	      <b>Asylcafé</b>
		<div class="detail-item">Dienstag und Mittwoch</div>
		<div class="detail-item">16:30 bis 18:30 Uhr</div>
		<div class="detail-item">Bonnstraße 32, 50354 Hürth</div>

	      <iframe src="{{ site.url }}gcl_mock.html" style="border-width:0" width="170" height="600" frameborder="0" scrolling="no" id="calendar_frame"></iframe>
	    </div>

	      
	  </div>
	</div>
      </td>
      <td class="right">
	<div class="right fit_table">
