<div class="menu-container">
  <div class="menu">
    <ul>
      <li><a href="/aktuell.html">Neuigkeiten</a>
	<!--
      	<ul>
	  <li><a href="/presse.html">Presse</a></li>
	</ul>
-->
      </li>
      <li><a  href="/angebot.html">Projekte</a>
	<ul>
	  <li><a href="/asylcafe.html">Asylcaf&eacute;</a></li>
	  <li><a href="/kurse.html">Deutschkurse</a></li>
	  <li><a href="/chor.html">Singender Kurs</a></li>
	</ul>
      </li>
      <li><a href="/wir.html">Verein</a>
	<ul>
	  <li><a href="/vorstand.html">Vorstand</a></li>
	  <li><a href="/geschichte.html">Vereinsgeschichte</a></li>
	  <li><a href="/satzung.html">Satzung</a></li>
	</ul>
      </li>
      <li><a href="/danke.html">Unterstützung</a></li>
      <li><a href="/partner.html">Partner</a></li>
      <li><a href="/kontakt.html">Kontakt</a> </li>
    </ul>
  </div>
</div>
