<h2>Termine</h2>

<h3>Regelmäßig</h3>

<b><a href="/asylcafe.html">Asylcafé</a></b>
<div class="event-details">
<div class="detail-item">Dienstag und Mittwoch</div>
<div class="detail-item">16:30 bis 18:30 Uhr</div>
<div class="detail-item">Bonnstraße 32</div>
</div>

<b><a href="/frauen.html">Starke Frauen</a></b>
<div class="event-details">
<div class="detail-item">Pausiert</div>  
<div class="detail-item gray">Mittwoch</div>
<div class="detail-item gray">10:00 bis 12:00 Uhr</div>
<div class="detail-item gray">Friedrich-Ebert-Straße 36</div>
</div>

<b>Raum für mich</b>
<div class="event-details">
<div class="detail-item">Pausiert</div>  
<div class="detail-item gray">Freitag</div>
<div class="detail-item gray">09:30 bis 12:00 Uhr</div>
<div class="detail-item gray">Friedrich-Ebert-Straße 36</div>
</div>

<h3>Aktuell</h3>
<iframe src="{{ site.url }}gcl_mock.html" style="border-width:0" width="170" height="300" frameborder="0" scrolling="no" id="calendar_frame"></iframe>
